table {
    border-collapse: collapse;
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    width: 200px;
  }
  
  th {
    background-color: white;
  }
  
  tr:nth-child(odd) {
    background-color: #686868;
  }
  
  tr:nth-child(even) {
    background-color: yellow;
  }
  
  td:last-child {
    text-align: right;
  }
  