.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: "Arial", cursive;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146);
    font-family: "Arial", cursive;
  }  

.column {
    background-color: rgb(121, 121, 121);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: rgb(255, 255, 255);
}

.column2 {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.column3 {
    background-color: rgb(216, 216, 216);
    text-align: center;
}


